<div class="container">
  <h1>All the lists</h1>
   <% @lists.each do |list| %>
   <li><%= link_to list.name, list_path(list) %></li>
   <% end %>

   <p><%= link_to "create new list", new_list_path %>
</div>
